@import './global.css';

.container {
  width: 80%;
  max-width: 290px;
  min-height: 350px;
  max-height: 350px;
  margin: 30px 10px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(10, 10, 10, .4);
}

.img-container {
  display: flex;
  width: 100%;
  height: 40%;
  top: 0;
  overflow: hidden;
  object-fit: cover;
  background-color: var(--backgroun-primary);
}
.img-container img {
  width: 100%;
  object-fit: cover;
}

.info--description {
  padding: 15px 15px 7px;
}

.info--description__copy {
  text-align: start;
  font-weight: 300;
  margin-bottom: 5px;
}

.info--description__price p {
  font-size: 16px;
  font-weight: bold;
}

.button-container {
  padding: 7px 15px 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-container button {
  width: 70%;
  height: 35px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--secundary-font-color);
  box-shadow: 0 1px 5px rgba(15, 15, 15, .4)
}

@media(max-width: 600px) {
  .container {
    width: 80%;
    max-width: none;
  }
}

@media(max-width: 450px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    height: auto;
    max-width: none;
    min-height: 160px;
    max-height: 160px;
    flex-direction: row;
    margin: 10px;
  }

  .button-container {
    display: none;
  }

  .info--description__copy p {
    font-size: 14px;
  }

  .img-container {
    height: 100%;
  }
}
